{% extends 'app/navbar.html' %}
{% block contenido %}
{% load crispy_forms_tags %}

<div class="container">
    <br><br>
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    {% if validlink %}
                
                    <h1>Ingresa tu nueva contraseña</h1>
                
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </form>
                
                {% else %}
                <h3>El link de validacion no es valido</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>

{% endblock %}


