{% extends 'app/navbar.html' %}
{% block contenido %}
{% load crispy_forms_tags %}

<div class="container">
    <br><br>
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1>Contraseña restablecida</h1>
                    <p>Puedes iniciar sesión <a href="{% url 'login' %}">aqui.</a></p>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

