<!--Llamamos al navbar-->
{% extends 'app/navbar.html' %}

<!--Definimos el contenido-->
{% block contenido %}
<div class="container">
    {% load humanize %}
    <br>
    <h2>Detalles del producto</h2>
    <div class="row mt-4">
        <div class="col-5">
            <img src="{{ productos.imagenes.first.imagen.url }}" alt="" class="img-thumbnail">
        </div>
        <div class="col-6">
            <h2 class="display-4">{{ productos.nombre }}</h2>
            <p style="font-size: 26px;">${{ productos.precio | intcomma }}</p>
            <a href="{% url 'home' %}" class="btn btn-warning">Volver atras</a>
        </div>
    </div>
    <br><br>
    <div class="sub-header">
        <h3>Informacion</h3>
        <br>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ productos.descripcion }}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{ productos.marca }}</td>
                </tr>
                <tr>
                    <th>Fabricacion</th>
                    <td>{{ productos.fecha_fabricacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>

        
    


</div>
{% endblock %}