{% extends 'app/navbar.html' %}
{% block contenido %}
{% load humanize %}
{% load static %}

{% if cart %}
<div class="container">
    <div class="text-center" style="padding-top: 20px;">
        <h1>Carrito</h1>
        <a href="{% url 'home' %}">Seguir comprando</a>
    </div>
    <br>

    <div class="text-right">
        <button id="clear-cart" class="btn btn-secondary">
            Limpiar carrito
        </button>
    </div>
    <br>

    <table class="table" id="cart-items">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th></th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for i in cart %}
            <tr>
                <th scope="row"></th>
                <td>
                    <div class="row">
                        <div class="col-md-3 mt-1">
                            <img class="img-fluid img-responsive" 
                                src="{{ i.image }}">
                        </div>
                        <div class="col-md-6 mt-1">
                            <h5>{{ i.name }}</h5>
                        </div>
                    </div>
                </td>
                <td>${{ i.price|intcomma }}</td>
                <td>
                    <input type="number" name="quantity" style="width: 70px;"
                    id="id_quantity" value="{{ i.quantity }}">
                </td>
                <td>
                    <button class="remove-from-cart btn btn-danger" data-product-id="{{ i.product_id }}">Quitar</button>
                </td>
                <td>${{ i.total|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <form method="POST" action="">
            {% csrf_token %}
            <div><h3 id="cart-total">Total: ${{ total_price|intcomma }}</h3></div>
            {% comment %} <a href="{% url 'checkout' %}" class="btn btn-danger">Finalizar pedido</a> {% endcomment %}
            <input type="submit" value="Finalizar pedido" class="btn btn-danger">
        </form>
    </div>
    <br>
    <br>
</div>
{% else %}
<div class="col-12"> 
    <div class="d-flex justify-content-center align-items-center" style="height: 450px">
        <div class="d-flex flex-column align-items-center">
            <h1>Carrito</h1>
            <p>Su carrito está actualmente vacío</p>
            <a class="btn btn-danger" href="{% url 'home' %}">
                Continuar la compra -->
            </a>
        </div>
    </div>
</div>

{% endif %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}