<!--Llamamos al navbar-->
{% extends 'app/navbar.html' %}
<!-- En el template base o en el head del template `details.html` -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMclcd5PbPhDMFJjUXAAdLAZpuhQ/UWJw5i4vTp" crossorigin="anonymous">


<!--Definimos el contenido-->
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    {% load humanize %}
    <br>
    <h2>Detalles del producto</h2>
    <div class="row mt-4">
        <div class="col-5">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <!-- Imagen con evento de clic para pantalla completa y zoom al pasar el mouse -->
                        <img src="{{ image.image.url }}" alt="" class="d-block w-100 img-thumbnail zoom-effect" onclick="openFullscreen(this)">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" style="background-color: transparent; border: none;">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.3);"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next" style="background-color: transparent; border: none;">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.3);"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>
        </div>
        <div class="col-6">
            <h2 class="display-4">{{ product.name }}</h2>
            <p style="font-size: 26px;">${{ product.price | intcomma }}</p>
            <button class="btn btn-warning add-to-cart" data-product-id="{{ product.id }}">
                Añadir al carrito
            </button>
        </div>
    </div>

    <br><br>
    <div class="sub-header">
        <h3>Informacion</h3>
        <br>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{ product.brand }}</td>
                </tr>
                <tr>
                    <th>Fabricacion</th>
                    <td>{{ product.fabrication_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!--Comentarios-->
    <div class="row" style="padding-bottom: 10px; padding-top: 20px;">
        <div class="col-lg-6">
            <h3>Comentarios</h3>
        </div>
        <div class="col-lg-6">
            <a id="show-form-btn" class="btn btn-success float-right">
                Agregar comentario
            </a>
        </div>
    </div>
    
    <div id="comment-form" class="card-body w-100" style="display: none;">
        <form method="post">
            <div class="star-rating">
                <!-- Estrellas visuales -->
                {% for i in range %}
                    <i class="far fa-star" data-value="{{ i|add:1 }}"></i>
                {% endfor %}
            </div>
            {% crispy form %}
        </form>
    </div>
    <br>
    
    <div class="row rating-distribution align-items-center">
        <!-- Sección del promedio de calificación -->
        <div class="col-md-4 text-center">
            <h1 class="display-1 mb-0">{{ avg_rating|floatformat:1 }}</h1>
            <h4 class="text-muted">de 5</h4>
            <div class="star-rating-reading">
                {% for i in range %}
                    <i class="fas {% if i < avg_rating %}fa-star{% elif i < avg_rating %}fa-star-half-alt{% else %}fa-star-o{% endif %}"></i>
                {% endfor %}
            </div>
        </div>
    
        <!-- Sección de distribución de calificaciones -->
        <div class="col-md-6">
            <h5 class="font-weight-bold mb-3">Distribución de calificaciones</h5>
            {% for star, percentage in rating_percentage.items %}
                {% if percentage %}
                    <div class="rating-bar d-flex align-items-center">
                        <span class="text-muted">{{ star }} estrellas</span>
                        <div class="bar flex-grow-1 mx-2">
                            <div class="fill" style="width: {{ percentage }}%; background-color: gold;"></div>
                        </div>
                        <span class="text-muted">{{ percentage|floatformat:1 }}%</span>
                    </div>
                {% else %}
                    <div class="rating-bar d-flex align-items-center">
                        <span class="text-muted">{{ star }} estrellas</span>
                        <div class="bar flex-grow-1 mx-2">
                            <div class="fill" style="width: {{ percentage }}%; background-color: #dcdcdc ;"></div>
                        </div>
                        <span class="text-muted">{{ percentage|floatformat:1 }}%</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if not comments %}
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="text-center">No hay comentarios</h5>
        </div>
    </div>
    <br>
    {% endif %}

    <br>
    <div class="card-columns">
        {% for comment in comments %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-7">
                        <h5>{{ comment.title }}</h5>
                    </div>
                    <div class="col-lg-5">
                        <p class="float-right">
                            {% for i in range %}
                            <i style="color: gold;" class="fas fa-star{% if i >= comment.rating %}-o{% endif %}"></i>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <p>por {{ comment.name }} hace {{ comment.days_since }}</p>
                <p class="card-text">{{ comment.text }}</p>   
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
</div>

<!-- Modal para pantalla completa -->
<div id="fullscreenModal" class="fullscreen-modal" onclick="closeFullscreen()">
    <span class="close">&times;</span>
    <img class="fullscreen-content" id="fullscreenImage">
</div>

<link rel="stylesheet" href="{% static 'app/details.css' %}">
<script src="{% static 'js/details.js' %}"></script>

{% endblock %}