<!--Llamamos al navbar-->
{% extends 'app/navbar.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<br>
<div class="container">
    <div class="card shadow align-items-center">
        <div class="card-header" style="width: 100%;">
            {% if instance %}
                <h2 class="text-center">Editar producto</h2>
            {% else %}
                <h2 class="text-center">Nuevo producto</h2>
            {% endif %}
        </div>

        <div class="card-body w-100" >
            {% crispy form %}
        </div>
    </div>
</div>

{% endblock %}