<!--Llamamos al navbar-->
{% extends 'app/navbar.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<br>
<div class="container">
    <div class="card shadow align-items-center">
        <div class="card-header" style="width: 100%;">
            {% if instance %}
                <h2 class="text-center">Editar producto</h2>
            {% else %}
                <h2 class="text-center">Nuevo producto</h2>
            {% endif %}
        </div>

        <div class="card-body w-100" >
            <form method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
</div>

<!-- Modal para crear una marca -->
<div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="brandModalLabel">Crear Marca</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <div class="modal-body">
                <form id="brand-form">
                    {% csrf_token %}
                    {{ brand_form|crispy }}
                    <button type="button" class="btn btn-success" id="save-brand">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('save-brand').addEventListener('click', function () {
        const form = document.getElementById('brand-form');
        const formData = new FormData(form);
        console.log('formData: ', formData);

    
        fetch("{% url 'brand-create' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.errors) {
                // Manejar errores
                console.log(data.errors);
            } else {
                // Agregar la nueva marca a la lista de selección
                const brandSelect = document.getElementById('id_brand');  // Asumiendo que el campo es 'id_brand'
                const option = new Option(data.name, data.id, true, true);
                brandSelect.add(option, undefined);
                // Cerrar el modal
                document.querySelector('#brandModal .btn-close').click();
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock contenido %}