<!--Llamamos al navbar-->
{% extends 'app/navbar.html' %}

<!--Definimos el contenido-->
{% block contenido %}
<div class="container">
    {% load humanize %}
    <br>
    <h2>Productos</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
        <div class="col mb-4">

            <div class="card">
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name | title }}</h5>
                    <p class="card-text">${{ product.price | intcomma }}</p>
                    <a href="{% url 'details' product.id %}" class="btn btn-warning btn-block">Ver mas</a>
                </div>

            </div>
        </div>
        {% empty %}
        <p>No hay productos registrados</p>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
</div>